
.hh-box {
    border: 1px solid #F3F3F3 !important;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1) !important;
    background: #FFF none repeat scroll 0% 0% !important;
    padding: 6px !Important;
}
